<section>
  <div class="container mt-3">
    <div class="row">
      {{#each orderProducts}}
      <div class="col-md-3 ml-5 mt-5 ">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" style="height: 18rem;" src="/product-image/{{this.product._id}}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{this.product.Name}}</h5>
            <p>{{this.product.Price}}</p>
            <p class="card-text">{{this.quantity}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
    
